@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Domine&family=Montserrat:wght@200&family=Roboto+Mono:wght@500&family=Satisfy&family=Ubuntu+Condensed&family=Ubuntu:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Domine&family=Montserrat:wght@200&family=Roboto+Mono:wght@500&family=Satisfy&family=Ubuntu+Condensed&family=Ubuntu:ital@1&display=swap');

body{
    background-color: antiquewhite;
   
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;

}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 55px;
    padding: 0px 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 60vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg') ;
    background-repeat: no-repeat ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.container h1{
    font-size: 20px;
}


.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin: 34px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 54px;
}

.songItem{
    height: 40px;
    display: flex;
    background-color: white;
    width: 39%;
    color: black;
    margin: 46px -16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 56px;
    margin: 0 33px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
        position: fixed;
        color: white;
        left: 1vw;
        bottom: 5vw;
        font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 1;
    transition: opacity 0.4s ease-in;
}
